<h1>Your registrations </h1>
<div> <%= link_to "Events List", root_path%>| <%= link_to "Register to an event", new_event_entry_path%>
</div>
<% @evententry.each do |entry|%>
  <%= entry.first_name%>
  <%= entry.middle_name%>
  <%= entry.last_name%>
  </br>
  <%= entry.name_on_certificate%>
  </br>
  <% if entry.paid%>
    Paid
  <%else%>
    Payment not received
  <%end%>
  <% if entry.accomodation_request%>
    Accomodation requested
  <%else%>
    Accomodation not requested
  <%end%>
  </br>
  <%=entry.event.name%> 
  <hr>
<%end%>
