<h1>Your Registrations</h1>
<%= @evententry.each do |entry|%>
  <div>
    <ul>
      <li><%= entry.first_name%></li>
      <li><%= entry.middle_name%></li>
      <li><%= entry.last_name%></li>
      <li><%= entry.name_on_certificate%></li>
    <% if entry.paid%>
      <li>Paid</li>
      <%else%>
        <li>payment not received</li>
      <%end%>
      <% if entry.accomodation_request%>
        <li>accomodation Requested</li>
      <%else%>
        <li>No Accomodation requested</li>
      <%end%>
    </div>
    <hr>
  <%end%>

