<!DOCTYPE html>
<html>
<head>
  <title>Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |k, v|%>
    <%= content_tag :div, v, class: "flash #{k}"%>
  <%end%>
  <%if current_user%>
    <h4> currrently logged in as <%=current_user.first_name%> <%=current_user.last_name%> | <%= link_to "Sign out", user_session_path(current_user)%> </h4>
  <%else%>
    <%= link_to "Sign in", new_user_session_path%> | <%= link_to "Sign up", new_user_path%>
  <%end%>
<%= yield %>

</body>
</html>
